* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* navbar  styling*/

.navbark {
    background-color: #3c3b7c;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 50px;
    z-index: 50;
    /* position: relative; */
    /* opacity: 95%; */
    box-shadow  : 0 5px 15px rgba(0,0,0,0.6);
}


.logok{
    /* display: flex; */
    top: 0;
    margin-top: 0px;
    position:absolute;
    /* justify-content: center;
    align-items: center; */
}


.menup{
    position: absolute;
    right: 50px;
    display: flex;
    margin: 0px;
    height: 50px;
    /* margin-left: 1010px; */
}

.logo-img {
    height: 45px;
    width: 45px;
    top: 0;
}
.menup li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}
.dp{
    color: white;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}


/* .menup li a:hover {
    color: rgb(175, 177, 177);
    transition: 0.3s;
    color: #3c3b7c;
} */

.navlist li:hover{
    background-color: #a9a9dc;
    color: #3c3b7c;
    transition: 0.4s ease-in;
}

.navlist li:hover .a{
    color: #3c3b7c;
}

.menup ul {
    list-style: none;
    display: flex;

    /* margin: auto; */
    /* margin-right: 100px; */
}

.menup ul li {
    padding: 0px 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-menup {
    display: none;
    /* margin-top: 2px; */
    z-index: 1000;
}

.menup ul li:hover .down-menup {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #3c3b7c;
}

.down-menup ul :hover {
    background-color: #a9a9dc;
    color: #3c3b7c;
    transition: 0.4s ease-in;
}

.menup ul li:hover .down-menup ul {
    display: block;
    margin: 0px 0px;
}

.menup ul li:hover .down-menup ul li {
    width: 192px;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}


/* 
hamburger */

.hamburger{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin: 3px;
}

@media only screen and (max-width: 600px){
    .menup ul{
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        background-color: #3c3b7c;
    }
    .menup {
        position: absolute;
        right: 50px;
        display: flex;
        /* margin-left: 1010px; */
        margin-top: 50px;
        right: 0%;
    }
    
    .menup ul li {
        padding: 16px 0px;
        position: relative;
        text-align: center;
    }

    .navbark{
        flex-direction: column;
        /* transition: all 0.3s ease-out; */
    }
    .navlist{
        transition: all 0.3s ease-out;
    }

    .navlist li:hover{
        background-color: #a9a9dc;
        color: #3c3b7c;
        transition: 0.4s ease-in;
    }
    
    .navlist li:hover .a{
        color: #3c3b7c;
    }
    .logok{
        left: 0%;
    }
    .hamburger{
        display: block;
    }
    .v-class{
        opacity: 0;
    }

    .down-menup{
        display: flex;
        flex-direction: column;
        position: static;
        display: none;
    }

    .down-menup ul li{
        background-color: #6160a1;
        width: 100%;
        padding: 16px 0px;
        margin-right: 0px;
    }
    .down-menup ul a:hover{
        background-color: #e2e2f8;
    }

    .menup ul li:hover .down-menup ul li {
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding: 10px;
    }

    
    /* .navlist:nth-child(2){
        padding: 0px;
    } */
    .down-menup ul :hover {
        background-color: rgb(195, 148, 239);
    }

}
/* 
hamburger end */



/* navbar end */





.carousel{
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
}
.slide{
    position: absolute;
    inset: 0;
    /* opacity: 0; */
    display: none;
}

.slide img{
    display: block;
    width: 100vw;
    height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 0.7s;
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }








/* featured product */
.sfp{
    position: relative;

}
.featured{
    
    /* background-color: #e2e2f8; */
    text-align: center;
    font-size: 50px;
    /* height: 500px; */
    width: 100%;
    padding-top: 10px;
    
    /* background-color: rgb(194, 224, 224); */
}

.f-heading{
    font-family: 'Lato', sans-serif;
    
    color: #3c3b7c;
    font-size: 70px;
    font-weight: 600;
}

.fp{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content:space-between; */

    
}
.f-container{

    font-size: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    /* border: 2px solid rgb(168, 162, 162); */
    border-radius: 15px;
    max-width: 250px;
    min-width: 250px;
    cursor: pointer;
    background-color: white;
    /* padding: 10px; */
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s;
}
.f-container:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) ,
     0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px , -8px);
  }

.f-container img{
    padding: 10px;
}
.des{
    padding: 10px;
    padding-top: 0px;
}
.p-des{
    font-family: 'DM Sans', sans-serif;
}

.material-symbols-outlined {
    color: #3c3b7c;
    margin-bottom: -3px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}



/* Slideshow container */
.slideshow-container {
    height: 200px;
  width: 250px;
  max-width: 250px;
  position: relative;
  margin-bottom: 5px;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 250px;
  max-width: 250px;
  position: absolute;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 56%;
  left: 1rem;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3);
}

/* Position the "next button" to the right */
.next {
    cursor: pointer;
  position: absolute;
  top: 56%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 1rem;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0,0,0,0.3);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
 .dot {
  cursor: pointer;
  height: 3px;
  width: 25px;
  margin: 0 2px;
  background-color: rgb(212, 210, 210);
  opacity: 0.7;
  /* border-radius: 50%; */
  display: inline-block;
  transition:  0.6s ease;
}

.dt{
    margin-top: -30px;
    position: relative;
    margin-bottom: 10px;
}

.active, .dot:hover {
  background-color: #fcfafa;
  opacity: 1;
} */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




.name{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
    color: #3c3b7c;
}
.des hr{
        margin: 0.5rem 0;
        color: inherit;
        border: 0;
        border-top: 1px solid;
        opacity: .40;
}
.bp{
    display: flex;
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
}
.delivery{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
}
.delivery select{
    width: 70%;
}
.tp{
    display: flex;
    font-size: 23px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}
.tp-contain{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.f-container img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    padding-bottom: 2px;
}


.bt{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.btn{
    width: 100%;
}

.buy{
    font-size: 20px
}
.btn button{
    background-color: #9b99da;
    color: aliceblue;
    /* border: 2px solid rgb(0, 0, 0) ; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px;
    height: 40px;
    outline: none;
    padding: 3px;
    width: 100%;
}
.bi-currency-rupee{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-whatsapp{
    font-size: 20px;
    padding-left: 10px;
}

.btn button:hover{
    background-color: #3c3b7c;
}


/* featured product end */



/* footer styling */

.footer-copy {
    background-color: #3c3b7c;
    color: white;
    text-align: center;
    padding:15px 0px;
}

.containerf{
    background-color: antiquewhite;
    width: 100%
}
.rowf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-colm{
    margin: 10px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.footer-colm h1{
    margin-bottom: 20px;
    position: relative;
}
/* .footer-col h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
} */

.footer-colm p , .footer-colm span {
    font-size: 20px;
    padding: 5px;
}
.bi{
    margin-right: 5px;
}
#achiv{
    margin-top: -5px;
    padding-bottom: 0px;
}

